.TeamPage {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 1050px;
    min-width: 950px;

    box-sizing: border-box;
    padding: 32px 0;

    background-color: #eeeeee;

    margin: 0 0 32px 0;
}

.TeamPage-Note {
    align-self: center;
    color: #000000;
    font-style: italic;
}