.GameFieldHeader {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.GameFieldHeader-TeamName {
    align-self: center;
    color: #000000;
    font-style: italic;
}